<div class="row mt-5">
    <div class="col-6 mx-5">
        <form (ngSubmit)="sendGameData()" [formGroup]="newGameForm">
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-2" placeholder="Game title" formControlName="title"
                        autocomplete="off">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="formFileMultiple" class="col-sm-3 col-form-label">Images</label>
                <div class="col-sm-9">
                    <input class="form-control" type="file" id="formFileMultiple" formControlName="images" multiple>
                </div>
                <!-- <div class="col-sm-9">
                    <input type="text" class="form-control mb-2" placeholder="Game image" formControlName="image"
                        autocomplete="off">
                </div> -->
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <textarea class="form-control mb-2" placeholder="Game description"
                        formControlName="description"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">price</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control mb-2" placeholder="Game price" formControlName="price">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Release date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control mb-2" placeholder="Game releasedate"
                        formControlName="releasedate">
                </div>
            </div>
            <div class="col-6"></div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label" for="flexCheckDefault">Genres</label>
                <div class="col-sm-9">
                    <div *ngFor="let genre of genresCatalog; let i = index" class="m-2 d-inline-block">
                        <input type="checkbox" class="btn-check" id="btn-check-outlinedgenre{{i}}" autocomplete="off"
                            (change)="onGenresCheckBoxChange($event)" [value]="genre.id">
                        <label class="btn btn-outline-primary" for="btn-check-outlinedgenre{{i}}">{{
                            genre.name}}</label><br>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Languages</label>
                <div class="col-sm-9">
                    <div *ngFor="let language of languagesCatalog; let i = index" class="m-2 d-inline-block">
                        <input type="checkbox" class="btn-check" id="btn-check-outlinedlanguage{{i}}" autocomplete="off"
                            (change)="onLanguagesCheckBoxChange($event)" [value]="language.id">
                        <label class="btn btn-outline-success" for="btn-check-outlinedlanguage{{i}}">{{
                            language.name}}</label><br>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Tags</label>
                <div class="col-sm-9">
                    <div *ngFor="let tag of tagsCatalog; let i = index" class="m-2 d-inline-block">
                        <input type="checkbox" class="btn-check" id="btn-check-outlinedtag{{i}}" autocomplete="off"
                            (change)="onTagsCheckboxChange($event)" [value]="tag.id">
                        <label class="btn btn-outline-danger" for="btn-check-outlinedtag{{i}}">{{ tag.name}}</label><br>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">System requirements</label>
                <div class="col-sm-9">
                    <textarea class="form-control mb-2" placeholder="Game requirements"
                        formControlName="systemRequirements"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <button type="submit" class="btn btn-info">Create game</button>
                </div>
            </div>
        </form>

    </div>
</div>