<div class="row">
    <div class="col-4">
        <form (ngSubmit)="search()" autocomplete="off"> 
            <div class="input-group  mt-5">
                <input type="text" class="form-control shadow-none" placeholder="Title" aria-label="Title" aria-describedby="button-addon"
                       [(ngModel)]="searchTerm"
                       name="searchTerm">
                <button class="btn btn-outline-secondary shadow-none" type="submit" id="button-addon">Search</button>
            </div>
        </form>
    </div>
</div>

